@model MyCardCollection.ViewModel.CollectionersViewModel;

<section class="bg-gradient text-light p-0">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-7">
              <div class="space-sm pb-0">
                <h1 class="display-4 mb-0 no-wrap">
                   Collectioners Hall
                </h1>
                <span class="lead">
                  Total members: @Model.TotalUsers
                </span>
              </div>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
        <svg class="decorative-divider" preserveAspectRatio="none" viewBox="0 0 100 100">
          <polygon fill="#F8F9FB" points="0 100 100 100 100 0"></polygon>
        </svg>
      </section>
<section class="bg-grey overflow-hidden pt-0">
    <div class="container" style="min-height:calc(100vh - 30vh)">
        <div class="row align-items-center">
            <div class="col-12 mb-3 position-relative">
                <div class="d-flex mb-2 float-right col-6 col-md-3" style="z-index:2; position:relative;">
                    <!-- Soring selection -->
                    <form class="d-flex align-items-center w-100">
                      <span class="mr-2 text-muted text-small text-nowrap">Sort by:</span>
                      <select id="categorySelection" class="custom-select">
                        @foreach(var item in Model.Category ){
                            if(item.Selected){
                                <option value="@item.Value" selected> @item.Text </option>
                            }
                            else{
                                <option value="@item.Value"> @item.Text </option>
                            }
                        }
                      </select>
                    </form>
                </div>
            <!-- Users list -->
           <div class="col">
              <table class="table table-hover align-items-center table-borderless table-responsive-md">
                <thead>
                  <tr style="color:white;">
                    <th scope="col">Name</th>
                    <th scope="col">Nick</th>
                    <th scope="col">Location</th>
                    <th scope="col">Decks</th>
                    <th scope="col">Unique Cards</th>
                    <th scope="col">Total Cards</th>
                    <th scope="col">Collection Value</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    @foreach(var user in Model.Users)
                    {
                    <tr class="bg-white">
                        <th scope="row" style="padding-bottom: 5px; padding-top:5px">
                            <div class="media align-items-center">
                                <img alt="Image" src="@user.AvatarImage" class="avatar">
                                <div class="media-body">
                                    <span class="h6 mb-0">@user.Name @user.Lastname
                                        <span class="badge badge-secondary">@if (user.Email == "mr.komugiko@gmail.com") { <text>Admin</text> }</span>
                                    </span>
                                    <span class="text-muted">title??</span>
                                </div>
                            </div>
                        </th>
                        <td>@user.UserName</td>
                        <td>@user.City, @user.CountryCode</td>
                        <td>@user.DecksCreated</td>
                        <td>@user.UniqueCards</td>
                        <td>@user.TotalCards</td>
                        <td>@Math.Round(user.TotalValue,2)$</td>
                        <td>

                            <div class="btn-group">
                               <a class="btn btn-sm btn-primary" href="Collectioner/@user.Id">Profile</a>

                               @if (User.Identity.IsAuthenticated)
                               {
                                   <div class="dropdown">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                            <div class="dropdown-menu dropdown-menu-sm">
                                                <a class="dropdown-item" href="Collectioner/@user.Id">Profile</a>
                                                <a class="dropdown-item" href="#">Contact WIP</a>
                                                <a class="dropdown-item" href="#">Follow WIP</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Report WIP</a>
                                            </div>
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr class="table-divider">
                        <th></th>
                        <td></td>
                    </tr>
                    }
                </tbody>
              </table>
            </div>
 
         <div class="d-flex justify-content-center align-items-center w-100">
            @if (@Model.TotalPages > 1)
            {
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <pagination page-count="@Model.TotalPages"
                        page-target="@Context.Request.Path" 
                        page-number="@Model.Page" 
                        extra-param="&category=@Model.Category.Where(x=>x.Selected).First().Value"
                        page-range="6"></pagination>
                    </div>
                </div>
            }
         </div>

   
            </div>
        </div>
        </div>
</section>

@section Scripts{
    <script>
         $('#categorySelection').change(function(){
            let category = $("#categorySelection option:selected").val();
             window.location.href = "?category="+category;
        })
    </script>
}