@model MyCardCollection.ViewModel.CollectionerProfileViewModel;

<div class="main-container"  style="min-height:calc(100vh - 15vh)">
@*    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
          !important         <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Runners</a>
                        </li>

                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>*@
    <section class="bg-dark">
        <img alt="Image" src="@Model.AppUser.AvatarImage" class="bg-image opacity-40 text-center" style="object-position:50% 15%;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="media">
                        <img alt="Image" src="@Model.AppUser.AvatarImage" class="mt-md-5 mr-md-5 avatar avatar-xlg">
                        <div class="media-body">
                            <div class="mb-2">
                                <h1 class="h2 mb-2">@Model.AppUser.Name "@Model.AppUser.UserName" @Model.AppUser.Lastname</h1>
                                <p class="badge badge-primary badge-pill mb-2">Admin</p><p class="badge badge-secondary badge-pill mb-2">Begginer</p>
                                @{
                                    string? LocationString = Model.AppUser.GetLocationString();
                                    if(LocationString != null)
                                    {   
                                        <p><span><i class="icon-location"></i> @LocationString</span></p>
                                    }
                                }
                            </div>
                            <p>
                                Total Cards: <b> @Model.AppUser.TotalCards</b> (Unique:<b> @Model.AppUser.UniqueCards</b>)<br />
                                Total Value: <b>  @Math.Round(Model.AppUser.TotalValue,2)$</b> <br />
                                Member since:<b>  @Model.AppUser.Created.ToShortDateString()</b> <br />
                            </p>
                            <p>
                                @Model.AppUser.Description
                            </p>
                            <div>
                                 @if (User.Identity.IsAuthenticated)
                                {
                                    <button class="btn btn-primary" data-toggle="button"><i class="icon-add-user"></i> Follow</button>
                                    <button class="btn btn-primary">
                                        <i class="icon-mail"></i>
                                    </button>
                                    <div class="dropdown d-inline-block">
                                        <button class="btn btn-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                                            <a class="dropdown-item" href="#">Add to group</a>
                                            <a class="dropdown-item" href="#">Share Profile</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Block</a>
                                            <a class="dropdown-item" href="#">Report</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="topcards-tab" data-toggle="tab" href="#topcards" role="tab" aria-controls="topcards" aria-selected="true">Top Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="decks-tab" data-toggle="tab" href="#decks" role="tab" aria-controls="decks" aria-selected="false">Decks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">Followers</a>
                            </li>
                        </ul>
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
    </section>

    <section class="flush-with-above">
        <div class="tab-content"> 
            <!-- DECKS -->
                <div class="tab-pane fade" id="decks" role="tabpanel" aria-labelledby="decks-tab">
                  @await Html.PartialAsync("_DecksSimpleOverview",Model.AppUser.Decks)
                </div>
               
            <!-- TOP CARDS -->

                <div class="tab-pane fade active show" id="topcards" role="tabpanel" aria-labelledby="topcards-tab">
                    <div class="container">
                        @if(Model.TopCards.Any())
                        {
                            <div class="row justify-content-between">
                            <style>
                                /* Style the button and place it in the middle of the container/image */
                                #flipbtn.btn {
                                    position: absolute;
                                    top: 90%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);  
                                    -ms-transform: translate(-50%, -50%);
                                    background-color: rgba(64,64,64,0.85); 
                                    color: white;
                                    font-size: 12px;
                                    border: none;cursor: pointer;
                                    border-radius: 10px; 
                                }

                                #flipbtn.btn:hover {
                                    background-color: black;
                                }
                            </style>
                                @foreach (var item in Model.TopCards.Take(4))
                                {
                                    <div class="col-6 col-sm-4 col-md">
                                        @if(item.HasTransform)
                                        {
                                            <img  class="img-fluid" src="@item.ImageURL" style="border-radius:15px; background-color: #fff; padding: 5px;" alt="card">
                                            <button id="flipbtn" class="btn img-fluid" onclick="FlipCard(this,'@item.ImageURL','@item.Transform_ImageURL')"> Flip </button>
                                        }
                                        else
                                        {
                                            <img class="img-fluid" style="border-radius:15px; background-color: #fff; padding: 5px;" src="@item.ImageURL" alt="img">
                                        }
                                    </div>
                                }
                            </div>

                            @if (Model.TopCards.Count() > 4)
                            {
                                <div class="row justify-content-between">
                                    @foreach (var item in Model.TopCards.Skip(4).Take(4))
                                    {
                                        <div class="col-6 col-sm-4 col-md">
                                            @if(item.HasTransform)
                                            {
                                                <img   class="img-fluid" src="@item.ImageURL"  style="border-radius:15px; background-color: #fff; padding: 5px;" alt="card">
                                                <button id="flipbtn" class="btn img-fluid" onclick="FlipCard(this,'@item.ImageURL','@item.Transform_ImageURL')"> Flip </button>
                                            }
                                            else
                                            {
                                                <img class="img-fluid" style="border-radius:15px; background-color: #fff; padding: 5px;" src="@item.ImageURL" alt="img">
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>
                        <!--end of row-->
                </div>

            <!-- FOLLOWERS -->

                <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <a href="#" class="mr-3">
                                                <img alt="Daniel Cameron" src="" class="avatar">
                                            </a>
                                            <div class="media-body">
                                                <div>
                                                    <a href="#" class="h5 m-0">
                                                        <h5>Daniel Cameron</h5>
                                                    </a>
                                                    <small class="text-muted"><i class="icon-location"></i> San Francisco, USA</small>
                                                </div>
                                                <ul class="list-inline">

                                                    <li class="list-inline-item text-small">196 Followers</li>

                                                    <li class="list-inline-item text-small">186 Following</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <a class="text-small" href="#">cameronman</a>
                                        <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                            <i class="icon-add-user"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <a href="#" class="mr-3">
                                                <img alt="Caitlyn Halsy" src="" class="avatar">
                                            </a>
                                            <div class="media-body">
                                                <div>
                                                    <a href="#" class="h5 m-0">
                                                        <h5>Caitlyn Halsy</h5>
                                                    </a>
                                                    <small class="text-muted"><i class="icon-location"></i> Melbourne, AU</small>
                                                </div>
                                                <ul class="list-inline">

                                                    <li class="list-inline-item text-small">199 Followers</li>

                                                    <li class="list-inline-item text-small">189 Following</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <a class="text-small" href="#">chalsy</a>
                                        <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                            <i class="icon-add-user"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <a href="#" class="mr-3">
                                                <img alt="Toby Marsh" src="" class="avatar">
                                            </a>
                                            <div class="media-body">
                                                <div>
                                                    <a href="#" class="h5 m-0">
                                                        <h5>Toby Marsh</h5>
                                                    </a>
                                                    <small class="text-muted"><i class="icon-location"></i> Denver, USA</small>
                                                </div>
                                                <ul class="list-inline">

                                                    <li class="list-inline-item text-small">6 Followers</li>

                                                    <li class="list-inline-item text-small">-4 Following</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <a class="text-small" href="#">marshisonline</a>
                                        <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                            <i class="icon-add-user"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <a href="#" class="mr-3">
                                                <img alt="Lucille Freebody" src="" class="avatar">
                                            </a>
                                            <div class="media-body">
                                                <div>
                                                    <a href="#" class="h5 m-0">
                                                        <h5>Lucille Freebody</h5>
                                                    </a>
                                                    <small class="text-muted"><i class="icon-location"></i> Bathwick, UK</small>
                                                </div>
                                                <ul class="list-inline">

                                                    <li class="list-inline-item text-small">8 Followers</li>

                                                    <li class="list-inline-item text-small">-2 Following</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <a class="text-small" href="#">lfreebody</a>
                                        <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                            <i class="icon-add-user"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <a href="#" class="mr-3">
                                                <img alt="Brenton Harvey" src="" class="avatar">
                                            </a>
                                            <div class="media-body">
                                                <div>
                                                    <a href="#" class="h5 m-0">
                                                        <h5>Brenton Harvey</h5>
                                                    </a>
                                                    <small class="text-muted"><i class="icon-location"></i> Dublin, IR</small>
                                                </div>
                                                <ul class="list-inline">

                                                    <li class="list-inline-item text-small">10 Followers</li>

                                                    <li class="list-inline-item text-small">0 Following</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <a class="text-small" href="#">harveytravel</a>
                                        <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                            <i class="icon-add-user"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <a href="#" class="mr-3">
                                                <img alt="Tabatha Firth" src="" class="avatar">
                                            </a>
                                            <div class="media-body">
                                                <div>
                                                    <a href="#" class="h5 m-0">
                                                        <h5>Tabatha Firth</h5>
                                                    </a>
                                                    <small class="text-muted"><i class="icon-location"></i> Sydney, AU</small>
                                                </div>
                                                <ul class="list-inline">

                                                    <li class="list-inline-item text-small">13 Followers</li>

                                                    <li class="list-inline-item text-small">3 Following</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <a class="text-small" href="#">onthetab</a>
                                        <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                            <i class="icon-add-user"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <a href="#" class="mr-3">
                                                <img alt="Ramon Hernandez" src="" class="avatar">
                                            </a>
                                            <div class="media-body">
                                                <div>
                                                    <a href="#" class="h5 m-0">
                                                        <h5>Ramon Hernandez</h5>
                                                    </a>
                                                    <small class="text-muted"><i class="icon-location"></i> Mexico City, ME</small>
                                                </div>
                                                <ul class="list-inline">

                                                    <li class="list-inline-item text-small">15 Followers</li>

                                                    <li class="list-inline-item text-small">5 Following</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <a class="text-small" href="#">hernandezzz</a>
                                        <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                            <i class="icon-add-user"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <a href="#" class="mr-3">
                                                <img alt="Roberta Kissinger" src="" class="avatar">
                                            </a>
                                            <div class="media-body">
                                                <div>
                                                    <a href="#" class="h5 m-0">
                                                        <h5>Roberta Kissinger</h5>
                                                    </a>
                                                    <small class="text-muted"><i class="icon-location"></i> Rotterdam, NL</small>
                                                </div>
                                                <ul class="list-inline">

                                                    <li class="list-inline-item text-small">18 Followers</li>

                                                    <li class="list-inline-item text-small">8 Following</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <a class="text-small" href="#">bench-roberta</a>
                                        <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                            <i class="icon-add-user"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <a href="#" class="mr-3">
                                                <img alt="Franc Bijon" src="" class="avatar">
                                            </a>
                                            <div class="media-body">
                                                <div>
                                                    <a href="#" class="h5 m-0">
                                                        <h5>Franc Bijon</h5>
                                                    </a>
                                                    <small class="text-muted"><i class="icon-location"></i> Paris, FR</small>
                                                </div>
                                                <ul class="list-inline">

                                                    <li class="list-inline-item text-small">20 Followers</li>

                                                    <li class="list-inline-item text-small">10 Following</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <a class="text-small" href="#">bijondesign</a>
                                        <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                            <i class="icon-add-user"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <a href="#" class="mr-3">
                                                <img alt="Kate Worthington" src="" class="avatar">
                                            </a>
                                            <div class="media-body">
                                                <div>
                                                    <a href="#" class="h5 m-0">
                                                        <h5>Kate Worthington</h5>
                                                    </a>
                                                    <small class="text-muted"><i class="icon-location"></i> Los Angeles, USA</small>
                                                </div>
                                                <ul class="list-inline">

                                                    <li class="list-inline-item text-small">22 Followers</li>

                                                    <li class="list-inline-item text-small">12 Following</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <a class="text-small" href="#">kwmarketing</a>
                                        <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                            <i class="icon-add-user"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <a href="#" class="mr-3">
                                                <img alt="Kenny Smith" src="" class="avatar">
                                            </a>
                                            <div class="media-body">
                                                <div>
                                                    <a href="#" class="h5 m-0">
                                                        <h5>Kenny Smith</h5>
                                                    </a>
                                                    <small class="text-muted"><i class="icon-location"></i> Berlin, GER</small>
                                                </div>
                                                <ul class="list-inline">

                                                    <li class="list-inline-item text-small">24 Followers</li>

                                                    <li class="list-inline-item text-small">14 Following</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <a class="text-small" href="#">anotherksmith</a>
                                        <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                            <i class="icon-add-user"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <a href="#" class="mr-3">
                                                <img alt="Christina Hersinger" src="" class="avatar">
                                            </a>
                                            <div class="media-body">
                                                <div>
                                                    <a href="#" class="h5 m-0">
                                                        <h5>Christina Hersinger</h5>
                                                    </a>
                                                    <small class="text-muted"><i class="icon-location"></i> Frankfurt, GER</small>
                                                </div>
                                                <ul class="list-inline">

                                                    <li class="list-inline-item text-small">27 Followers</li>

                                                    <li class="list-inline-item text-small">17 Following</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <a class="text-small" href="#">chersinger</a>
                                        <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                            <i class="icon-add-user"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>

                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </div>

            <!-- COMMENTS -->
 
                <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                    <div class="container">
                        <ul class="row feature-list feature-list-sm">

                            <li class="col-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <a href="#">
                                        <img class="card-img-top" src="" alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Bench</h4>
                                            <p class="card-text text-body">Accounting for creative people</p>
                                        </a>
                                    </div>
                                    <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                        <div class="text-small">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="icon-heart mr-1"></i> 373</li>
                                                <li class="list-inline-item"><i class="icon-message mr-1"></i> 62</li>
                                            </ul>
                                        </div>
                                        <div class="dropup">
                                            <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="BenchButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="icon-dots-three-horizontal"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="BenchButton">
                                                <a class="dropdown-item" href="#">Save</a>
                                                <a class="dropdown-item" href="#">Share</a>
                                                <a class="dropdown-item" href="#">Comment</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Report</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--end of col-->

                            <li class="col-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <a href="#">
                                        <img class="card-img-top" src="" alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Kin</h4>
                                            <p class="card-text text-body">The digital fashion assistant</p>
                                        </a>
                                    </div>
                                    <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                        <div class="text-small">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="icon-heart mr-1"></i> 84</li>
                                                <li class="list-inline-item"><i class="icon-message mr-1"></i> 21</li>
                                            </ul>
                                        </div>
                                        <div class="dropup">
                                            <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="KinButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="icon-dots-three-horizontal"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="KinButton">
                                                <a class="dropdown-item" href="#">Save</a>
                                                <a class="dropdown-item" href="#">Share</a>
                                                <a class="dropdown-item" href="#">Comment</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Report</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--end of col-->

                            <li class="col-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <a href="#">
                                        <img class="card-img-top" src="" alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Paydar</h4>
                                            <p class="card-text text-body">Location based touch payments</p>
                                        </a>
                                    </div>
                                    <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                        <div class="text-small">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="icon-heart mr-1"></i> 253</li>
                                                <li class="list-inline-item"><i class="icon-message mr-1"></i> 19</li>
                                            </ul>
                                        </div>
                                        <div class="dropup">
                                            <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="PaydarButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="icon-dots-three-horizontal"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="PaydarButton">
                                                <a class="dropdown-item" href="#">Save</a>
                                                <a class="dropdown-item" href="#">Share</a>
                                                <a class="dropdown-item" href="#">Comment</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Report</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--end of col-->

                            <li class="col-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <a href="#">
                                        <img class="card-img-top" src="" alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">pipeline.js</h4>
                                            <p class="card-text text-body">Snappy UI interaction library with flexible API</p>
                                        </a>
                                    </div>
                                    <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                        <div class="text-small">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="icon-heart mr-1"></i> 84</li>
                                                <li class="list-inline-item"><i class="icon-message mr-1"></i> 25</li>
                                            </ul>
                                        </div>
                                        <div class="dropup">
                                            <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="pipeline.jsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="icon-dots-three-horizontal"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="pipeline.jsButton">
                                                <a class="dropdown-item" href="#">Save</a>
                                                <a class="dropdown-item" href="#">Share</a>
                                                <a class="dropdown-item" href="#">Comment</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Report</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--end of col-->

                            <li class="col-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <a href="#">
                                        <img class="card-img-top" src="" alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Pitstop</h4>
                                            <p class="card-text text-body">Browser-based project management</p>
                                        </a>
                                    </div>
                                    <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                        <div class="text-small">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="icon-heart mr-1"></i> 90</li>
                                                <li class="list-inline-item"><i class="icon-message mr-1"></i> 34</li>
                                            </ul>
                                        </div>
                                        <div class="dropup">
                                            <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="PitstopButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="icon-dots-three-horizontal"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="PitstopButton">
                                                <a class="dropdown-item" href="#">Save</a>
                                                <a class="dropdown-item" href="#">Share</a>
                                                <a class="dropdown-item" href="#">Comment</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Report</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--end of col-->

                            <li class="col-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <a href="#">
                                        <img class="card-img-top" src="" alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Sidekick</h4>
                                            <p class="card-text text-body">Holistic fitness tracking</p>
                                        </a>
                                    </div>
                                    <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                        <div class="text-small">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="icon-heart mr-1"></i> 221</li>
                                                <li class="list-inline-item"><i class="icon-message mr-1"></i> 14</li>
                                            </ul>
                                        </div>
                                        <div class="dropup">
                                            <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="SidekickButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="icon-dots-three-horizontal"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="SidekickButton">
                                                <a class="dropdown-item" href="#">Save</a>
                                                <a class="dropdown-item" href="#">Share</a>
                                                <a class="dropdown-item" href="#">Comment</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Report</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--end of col-->

                        </ul>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </div>

            </div>
    </section>
</div>


    <script>
        function FlipCard(card,frontSrc, backSrc)
        {
            var currentImage = card.previousElementSibling.src;
            if(currentImage == frontSrc)
            {
                card.previousElementSibling.src = backSrc;
            }
            if(currentImage == backSrc)
            {
                card.previousElementSibling.src = frontSrc;
            }
        }
    </script>

