@model IEnumerable<MyCardCollection.Models.CardData>

@{
    bool isAuthenticated = User.Identity.IsAuthenticated;
}
@*<div class="toast-container">
    <div class="toast fade show">
width!-- Toast -->

    <div id="toastnotice" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 25px; right: 20px;">
        <div class="toast-header" >
            <strong style="width:75%">Added to Collection</strong>
            <button type="button" class="ml-2 mb-1 btn-close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
            <div class="toast-body text-center" >
                <h4 id="cardName">CARD_NAME</h4>
            </div>
        </div>
    </div>
</div>*@
<section class="overflow-hidden" style="min-height:calc(100vh - 30vh)">
    <style>
        /* Style the button and place it in the middle of the container/image */
        #flipbtn.btn {
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);  
            -ms-transform: translate(-50%, -50%);
            background-color: rgba(64,64,64,0.85); 
            color: white;
            font-size: 12px;
            border: none;cursor: pointer;
            border-radius: 10px; 
        }

        #flipbtn.btn:hover {
            background-color: black;
        }
    </style>

    <div class="container">
        <!-- Toggle switch list/gallery -->
        <div class="custom-control custom-switch mx-2" style="margin-left:auto; margin-right:auto; text-align:right;">
            <input onchange="ToggleGallery(this)" type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Gallery</label>
        </div>
        @if(isAuthenticated){
            <div class="accordion" id="accordion-1" data-children=".accordion-item">
                <div class="accordion-item">
                    <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-panel-1" aria-expanded="true" aria-controls="accordion-1">
                        <h5>Already owned: <b> @ViewBag.OwnedCards.Count </b> </h5>
                        <i class="h5 icon-chevron-small-right"></i>
                    </a>
                    <div id="accordion-panel-1" class="collapse show" role="tabpanel">
                    <!-- List -->
                        <div id="contentList_owned" style="overflow-x:auto;">
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th> Name           </th>
                                        <th> CMC            </th>
                                        <th class="text-truncate" style="max-width: 75px;"> type_line      </th>
                                        <th> set            </th>
                                        <th> #              </th>
                                        <th> rarity         </th>
                                        <th class="text-truncate" style="max-width: 75px;"> Image          </th>
                                        <th class="text-truncate" style="max-width: 75px;"> mana_cost      </th>
                                        <th class="text-truncate" style="max-width: 75px;"> oracle_text    </th>
                                        <th > power          </th>
                                        <th > Health         </th>
                                        <th class="text-truncate" style="max-width: 75px;"> flavor_text    </th>
                                        <th class="text-truncate" style="max-width: 75px;"> price          </th>

                                        @* <th>Add to collection</t1h>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(x=>ViewBag.OwnedCards.Contains(x.CardId))) {
                                    <tr >
                                        @if (item.HasTransform == false)
                                        {
                                            <td> @item.Name                            </td>
                                            <td> @item.CMC                             </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Type                            </td>
                                            <td >@item.SetCode                         </td>
                                            <td >@item.CollectionNumber                </td>
                                            <td >@item.Rarity                          </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.ImageURL                        </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Mana_Cost                       </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Description                     </td>
                                            <td >@item.Power                           </td>
                                            <td >@item.Health                          </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.FlavorDescription               </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Price_USD                       </td>
                                        }
                                        else // back side, revers, transformation...
                                        {
                                            <td> @item.Transform_Name                 </td>
                                            <td> @item.CMC                             </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Transform_Type                  </td>
                                            <td> @item.SetCode                         </td>
                                            <td> @item.CollectionNumber                </td>
                                            <td> @item.Rarity                          </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Transform_ImageURL              </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Mana_Cost                       </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Transform_Description           </td>
                                            <td> @item.Transform_Power                 </td>
                                            <td> @item.Transform_Health                </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Transform_FlavorDescription     </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Price_USD                       </td>
                                        }
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    <!-- Gallery -->
                        <div id="contentGallery_owned" class="container"  style="display:none;">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                            @foreach (var item in Model.Where(x=>ViewBag.OwnedCards.Contains(x.CardId))) {
                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                                        @{
                                            string cardCover = item.ImageURL != null ? item.ImageURL : "/assets/img/card_cover_not_found.png";
                                        }
                                    <img src="@cardCover" style="border-radius:8px; width:100%; padding:5px;"/>
                                    @if(item.HasTransform)
                                    {
                                    <button id="flipbtn" class="btn img-fluid" onclick="FlipCard(this,'@cardCover','@item.Transform_ImageURL')"> Flip </button>
                                    }
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    var notCollectedModel = @Model.Where(x => ViewBag.OwnedCards.Contains(x.CardId) == false);
                }
                <div class="accordion-item">
                    <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-panel-2" aria-expanded="false" aria-controls="accordion-1">
                        <h5>Not yet collected: <b>@notCollectedModel.Count()</b></h5>
                        <i class="h5 icon-chevron-small-right"></i>
                    </a>
                    <div id="accordion-panel-2" class="collapse" role="tabpanel">
                    <!-- List -->
                        <div id="contentList_notowned" style="overflow-x:auto;">
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th> Name           </th>
                                        <th> CMC            </th>
                                        <th class="text-truncate" style="max-width: 75px;"> type_line      </th>
                                        <th> set            </th>
                                        <th> #              </th>
                                        <th> rarity         </th>
                                        <th class="text-truncate" style="max-width: 75px;"> Image          </th>
                                        <th class="text-truncate" style="max-width: 75px;"> mana_cost      </th>
                                        <th class="text-truncate" style="max-width: 75px;"> oracle_text    </th>
                                        <th > power          </th>
                                        <th > Health         </th>
                                        <th class="text-truncate" style="max-width: 75px;"> flavor_text    </th>
                                        <th class="text-truncate" style="max-width: 75px;"> price          </th>

                                        @* <th>Add to collection</t1h>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in notCollectedModel) {
                                    <tr >
                                        @if (item.HasTransform == false)
                                        {
                                            <td> @item.Name                            </td>
                                            <td> @item.CMC                             </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Type                            </td>
                                            <td >@item.SetCode                         </td>
                                            <td >@item.CollectionNumber                </td>
                                            <td >@item.Rarity                          </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.ImageURL                        </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Mana_Cost                       </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Description                     </td>
                                            <td >@item.Power                           </td>
                                            <td >@item.Health                          </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.FlavorDescription               </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Price_USD                       </td>
                                        }
                                        else // back side, revers, transformation...
                                        {
                                            <td> @item.Transform_Name                 </td>
                                            <td> @item.CMC                             </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Transform_Type                  </td>
                                            <td> @item.SetCode                         </td>
                                            <td> @item.CollectionNumber                </td>
                                            <td> @item.Rarity                          </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Transform_ImageURL              </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Mana_Cost                       </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Transform_Description           </td>
                                            <td> @item.Transform_Power                 </td>
                                            <td> @item.Transform_Health                </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Transform_FlavorDescription     </td>
                                            <td class="text-truncate" style="max-width:75px;"> @item.Price_USD                       </td>
                                        }
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    <!-- Gallery -->
                        <div id="contentGallery_notowned" class="container"  style="display:none;">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                            @foreach (var item in notCollectedModel) {
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                                    @{
                                        string cardCover = item.ImageURL != null ? item.ImageURL : "/assets/img/card_cover_not_found.png";
                                    }
                                    <img src="@cardCover" style="border-radius:8px; width:100%; padding:5px;"/>
                                    @if(item.HasTransform)
                                    {
                                    <button id="flipbtn" class="btn img-fluid" onclick="FlipCard(this,'@cardCover','@item.Transform_ImageURL')"> Flip </button>
                                    }
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else {
            <!-- List -->
                <div id="contentList" style="overflow-x:auto;">
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th> Name           </th>
                                <th> CMC            </th>
                                <th class="text-truncate" style="max-width: 75px;"> type_line      </th>
                                <th> set            </th>
                                <th> #              </th>
                                <th> rarity         </th>
                                <th class="text-truncate" style="max-width: 75px;"> Image          </th>
                                <th class="text-truncate" style="max-width: 75px;"> mana_cost      </th>
                                <th class="text-truncate" style="max-width: 75px;"> oracle_text    </th>
                                <th > power          </th>
                                <th > Health         </th>
                                <th class="text-truncate" style="max-width: 75px;"> flavor_text    </th>
                                <th class="text-truncate" style="max-width: 75px;"> price          </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) {
                            <tr >
                                @if (item.HasTransform == false)
                                {
                                    <td> @item.Name                            </td>
                                    <td> @item.CMC                             </td>
                                    <td class="text-truncate" style="max-width:75px;"> @item.Type                            </td>
                                    <td >@item.SetCode                         </td>
                                    <td >@item.CollectionNumber                </td>
                                    <td >@item.Rarity                          </td>
                                    <td class="text-truncate" style="max-width:75px;"> @item.ImageURL                        </td>
                                    <td class="text-truncate" style="max-width:75px;"> @item.Mana_Cost                       </td>
                                    <td class="text-truncate" style="max-width:75px;"> @item.Description                     </td>
                                    <td >@item.Power                           </td>
                                    <td >@item.Health                          </td>
                                    <td class="text-truncate" style="max-width:75px;"> @item.FlavorDescription               </td>
                                    <td class="text-truncate" style="max-width:75px;"> @item.Price_USD                       </td>
                                }
                                else // back side, revers, transformation...
                                {
                                    <td> @item.Transform_Name                 </td>
                                    <td> @item.CMC                             </td>
                                    <td class="text-truncate" style="max-width:75px;"> @item.Transform_Type                  </td>
                                    <td> @item.SetCode                         </td>
                                    <td> @item.CollectionNumber                </td>
                                    <td> @item.Rarity                          </td>
                                    <td class="text-truncate" style="max-width:75px;"> @item.Transform_ImageURL              </td>
                                    <td class="text-truncate" style="max-width:75px;"> @item.Mana_Cost                       </td>
                                    <td class="text-truncate" style="max-width:75px;"> @item.Transform_Description           </td>
                                    <td> @item.Transform_Power                 </td>
                                    <td> @item.Transform_Health                </td>
                                    <td class="text-truncate" style="max-width:75px;"> @item.Transform_FlavorDescription     </td>
                                    <td class="text-truncate" style="max-width:75px;"> @item.Price_USD                       </td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            <!-- Gallery -->
            <div id="contentGallery" class="container"  style="display:none;">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                @foreach (var item in Model) {
                        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                            @{
                                string cardCover = item.ImageURL != null ? item.ImageURL : "/assets/img/card_cover_not_found.png";
                            }
                        <img src="@cardCover" style="border-radius:8px; width:100%; padding:5px;"/>
                        @if(item.HasTransform)
                        {
                        <button id="flipbtn" class="btn img-fluid" onclick="FlipCard(this,'@cardCover','@item.Transform_ImageURL')"> Flip </button>
                        }
                    </div>
                }
                </div>
            </div>
        }
    </div>
</section>

@section Scripts{
    <script>
        function ToggleGallery(object)
        {
            console.log("click => "+ object.checked);
            if('@isAuthenticated' == 'True')
            {
                if(object.checked)
                {
                    // turn on gallery
                    $("#contentGallery_owned").css("display","block");
                    $("#contentGallery_notowned").css("display","block");
                    $("#contentList_owned").css("display","none");
                    $("#contentList_notowned").css("display","none");
                }
                else
                {
                    $("#contentGallery_owned").css("display","none");
                    $("#contentGallery_notowned").css("display","none");
                    $("#contentList_owned").css("display","block");
                    $("#contentList_notowned").css("display","block");
                }
            }
            else
            {
                if(object.checked)
                {
                    $("#contentGallery").css("display","block");
                    $("#contentList").css("display","none");
                }
                else
                {
                    $("#contentGallery").css("display","none");
                    $("#contentList").css("display","block");
                }
            }

        }


        function FlipCard(card,frontSrc, backSrc)
        {
            var currentImage = card.previousElementSibling.src;
            if(currentImage == frontSrc)
            {
                card.previousElementSibling.src = backSrc;
            }
            if(currentImage == backSrc)
            {
                card.previousElementSibling.src = frontSrc;
            }
        }

    </script>
}
