@using MyCardCollection.ViewModel

@model IEnumerable<SetListViewModel>

  <section class="bg-gradient overflow-hidden">
         <div class="container">
            <div class="row align-items-center">
                <div class="col-12 position-relative">
                        @{
                            int standardCount = 0;
                        }

                 <div class="container">

                <ul class="row mb-3 feature-list feature-list-sm">

                @foreach(var set in Model)
                        {
                                if (@set.released_at.Date <= DateTime.Now.Date)
                                {
                                    <li class="col-12 col-md-6 col-lg-4">
                                        <div class="card card-sm shadow" style="background-color: rgba(255,255,255, .95);">
                                            <div class="card-body">
                                                <h4 class="card-title mb-1 text-truncate text-center w-100"><b>@set.name</b></h4>
                                                @*<p class="card-text">What it’s really like trying to convert an idea into a business.</p>*@  
                                                <div class="media blog-post-author">
                                                    <img alt="Image" src="@set.icon_svg_uri" class="avatar avatar-square-sm" style="margin-top: auto; margin-bottom: auto;">
                                                    <div class="media-body">
                                                        <small>Cards: <b>@set.card_count</b></small>
                                                        <small>Code: <b>@set.setcode.ToUpper()</b></small>
                                                        <small>Release date: <b>@set.released_at.ToShortDateString()</b></small>
                                                    </div>  
                                                </div>
                                            </div>
                                            <div class="card-footer card-footer-borderless">
                                                <div class="row">
                                                    <a class="btn btn-primary col-4" asp-action="List" asp-route-set="@set.setcode">
                                                    Explore
                                                </a>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    
                                                    if(@ViewBag.CardsBySet.ContainsKey(set.setcode))
                                                    {
                                                        double value = Math.Round((@ViewBag.CardsBySet[set.setcode] / (double)@set.card_count) * 100,1);
                                                        int valueInt = (Int32)value;

                                                        <div class="col">
                                                            <div class="text-center"> 
                                                                Collected  @ViewBag.CardsBySet[set.setcode] (@value%)
                                                            </div>
                                                            <div class="progress" style="margin-top:auto; margin-bottom:auto;">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="@valueInt" aria-valuemin="0" aria-valuemax="100" style="width: @valueInt%"> </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col">
                                                            <div class="text-center h-100 pt-1" style="margin-bottom:auto; margin-top:auto; color:lightgray;"> 
                                                               Not Collected.
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            </div>
                                        </div>
                                    </li>
                                    standardCount++;
                                }
                                else
                                {
                                    <li class="col-12 col-md-6 col-lg-4">
                                        <div class="card card-sm opacity-30 shadow" style="background-color: rgba(255,255,255, 1);">
                                            <div class="card-body">
                                                <h4 class="card-title mb-1 text-truncate text-center w-100"><b>@set.name</b></h4>
                                                @*<p class="card-text">What it’s really like trying to convert an idea into a business.</p>*@  
                                                <div class="media blog-post-author">
                                                    <img alt="Image" src="@set.icon_svg_uri" class="avatar avatar-square-sm" style="margin-top: auto; margin-bottom: auto;">
                                                    <div class="media-body">
                                                        <small>Cards: <b>@set.card_count</b></small>
                                                        <small>Code: <b>@set.setcode.ToUpper()</b></small>
                                                        <small>Release date: <b>@set.released_at.ToShortDateString()</b></small>
                                                        <small><b>COMING SOON!</b></small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer card-footer-borderless">
                                                <div class="row">
                                                    <a class="btn btn-primary col-4" asp-action="List" asp-route-set="@set.setcode">
                                                        Explore
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    }
                                }
                </ul>
          
                  
                    @if (@ViewBag.TotalPages > 1)
                                    {
                          <div class="row justify-content-center">
                            <div class="col-auto">
                                <pagination page-count="@ViewBag.TotalPages"
                                page-target="Home" page-number="@ViewBag.CurrentPage" 
                                page-range="@ViewBag.PageSize"></pagination>
                            </div>
                        </div>
                    }
                    </div>

                </div>
            </div>
        </div>
   </section>

