@model IEnumerable<MyCardCollection.Models.Deck>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
@{
    foreach(var deck in Model)
    {
    <div class="col mb-4">
        <div class="card">
            <div class="col mb-4">
                <div class="card">
                    <img src="@deck.Content.First().CardData.ImageURLCropped" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@deck.Name</h5>
                            @deck.IsValid
                            @deck.CardsNumber
                            @deck.TotalValue
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer text-end"> @deck.Updated </div>
                </div>
            </div>
        </div>
    </div>
    }
}
</div>