@model IEnumerable<MyCardCollection.Models.Deck>

      <section class="space-md bg-gradient overflow-hidden" style="min-height:calc(100vh - 30vh)">
        <div class="container">
          <div class="row align-items-center">
              <div class="col-12 position-relative">

 <ul class="row mb-3 feature-list feature-list-sm">
@{
    if(Model != null)
    {
        foreach(var deck in Model)
        {
             <li class="col-12 col-md-6 col-lg-4">
                    <div class="card shadow">
                        <img class="card-img-top" src="@deck.Content.First().CardData.ImageURLCropped" style="object-fit: cover; height:10rem; object-position:0 25%" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">@deck.Name</h4>
                        <p class="card-text text-body">Accounting for creative people
                         @deck.IsValid , @deck.CardsNumber , @deck.TotalValue  
                        </p>
                    </div>
                    <div class="card-footer card-footer-borderless d-flex justify-content-between">
                      <div class="text-small">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="icon-heart mr-1"></i> 0</li>
                          <li class="list-inline-item"><i class="icon-message mr-1"></i> 0</li>
                        </ul>
                      </div>
                      <div class="dropup">
                        <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="BenchButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="icon-dots-three-horizontal"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="BenchButton">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Details</a>
                          <a class="dropdown-item" href="#">Comment</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Report</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>

            }
        }
        else
        {
            <h1>You dont have decks in your colelction.</h1>

            <a class="btn btn-primary" asp-controller="DeckBuilder" asp-action="Index">create your first deck here...</a>
        }
    }
    </ul>

            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <!--end of section-->

 

